/***************************************GLOBAL VARIABLES*/
* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

/********************************************HEADER*/
/*HEADER STYLING*/
#weatherHead {
    flex: 1 1 100%;
    height: 280px;
    border-bottom: 10px solid black;
    padding: 20px;
    text-align: center; 
    font-size: 3em;
    background-image: url('./Assets/Images/clouds.gif');
    background-size: 100%;
}
/*TITLE STYLE*/
#weatherHead a {
    font-size: 2em;
    color: midnightblue;   
}
/*DATE & TIME STYLING*/
#weatherHead p {
    font-size: 0.75em;
}

/*CHANGE BACKGROUND IF NIGHT*/
.night {
    background-image: url('./Assets/Images/nightime.gif');
}

/********************************************MAIN CONTENT CONTAINER*/
/*MAIN CONTAINER STYLING*/
.container {
    display: flex;
    height: 100%;
    width: 100%;
}

/**********************************LEFT SEARCH COLUMN*/
/*BOX STYLING*/
.leftCol {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-right: 5px solid black;
}
/*SEARCH TITLE*/
.leftCol label {
    font-size: 2em;
    font-weight: bolder;
}

/*SEARCH BUTTON STYLING*/
#city-search {
    width: 70%;
}


/************MAIN CONTENT DISPLAY - WEATHER CURRENT & FORECAST*/
.weatherDisplay {
    flex: 1 1 70%;
    background-color: whitesmoke;
}

/*CURRENT WEATHER STYLING*/


#weatheCurrent p {
    text-align: center;
}

/*CLEAR STORAGE STYLING*/
#clear-storage {
    color: gray;
    text-decoration: none;
    font-size: .75em;
    margin: 1em;
}

/*WEATHER CARD STYLING*/
.forecastBox {
    flex-direction: row;
    justify-content: space-evenly;

    
}
#weatherForecast {
    flex-direction: row;
}

.card {
    display: flex;
    border: 1px solid black;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 1em;
}

div p {
    padding: 20px;

}

/**************************************************MEDIA QUERIES*/
@media only screen and (max-width: 992px) {
    #search-city{
        width:100%;
    }
    #search-button{
        width:100%;
    }
}
@media only screen and (max-width: 575px) {

    .leftCol {
        width: 100%;
    }

    #fiveDayForecastUl{
        justify-content: center;
    }
}